

Marcel Krausert
krausertm

6
Jul 2024
Below the content for an AFAIK complete .gitignore file for AS projects.

ATTENTION: I updated the file, since in the mappSafety CPU folder the file GLOBAL_VARIABLESTranslation_SF.xml seems to be required!

## Automation Studio
# Ignore AR versions as those are not considered part of the project
/Zbiorniki_AS6/AS/System/

# Ignore build results

/Zbiorniki_AS6/Binaries/

# Ignore debugging configurations (Watch,...)
/Zbiorniki_AS6/Temp/
/Zbiorniki_AS6/Diagnosis/

# But save the watch windows and task trace configurations (if it should stay in the repository) - optional, uncomment if needed
#!/Diagnosis/**/
#!/Diagnosis/**/*.PVM
#!/Diagnosis/**/*.tc

# mappSafety
#------------------
# Ignore DLFiles

/Zbiorniki_AS6/Physical/*/*/mappSafety/*/DLFiles/*

# Ignore CPU folder in mappSafety - ..\{ASprojectName}\Physical\{ConfigName}\{PLCname}\mappSafety\{SafetyProjectName}\C\PLC\R\CPU

/Zbiorniki_AS6/Physical/*/*/mappSafety/*/C/PLC/R/CPU/*
!/Zbiorniki_AS6/Physical/*/*/mappSafety/*/C/PLC/R/CPU/*.xml

# But include the required binary files
!/Zbiorniki_AS6/Physical/*/*/mappSafety/*/C/PLC/R/CPU/src.st1
!/Zbiorniki_AS6/Physical/*/*/mappSafety/*/C/PLC/R/CPU/tmp.sto