@use "mixins.scss";
@use "sass:list";
@use "sass:string";
#HMIMainContent_ButtonStart {	@include mixins.elemTop(140);
}
#HMIMainContent_ButtonStart {	@include mixins.elemLeft(180);
}
#HMIMainContent_ButtonStart {	@include mixins.elemAutoWidth(240);
}
#HMIMainContent_ButtonStart {	@include mixins.elemAutoHeight(100);
}
#HMIMainContent_ButtonStart {	z-index: 0;
}
#HMIMainContent_ButtonStart {	@include mixins.border-radius(30px);
}
#HMIMainContent_ButtonStart {	&:not(.disabled):not(.active):not(.checked) {
		background-color: rgba(0, 255, 0, 1);
	}
}
#HMIMainContent_ButtonStart {	span {
		font-size: 24px;
	}
}
#HMIMainContent_ButtonStart {	span {
		@include mixins.font-weight-bold(true);
	}
}
#HMIMainContent_Button2 {	@include mixins.elemTop(140);
}
#HMIMainContent_Button2 {	@include mixins.elemLeft(520);
}
#HMIMainContent_Button2 {	@include mixins.elemAutoWidth(240);
}
#HMIMainContent_Button2 {	@include mixins.elemAutoHeight(100);
}
#HMIMainContent_Button2 {	z-index: 1;
}
#HMIMainContent_Button2 {	@include mixins.border-radius(30px);
}
#HMIMainContent_Button2 {	&:not(.disabled):not(.active):not(.checked) {
		background-color: rgba(255, 0, 0, 1);
	}
}
#HMIMainContent_Button2 {	span {
		font-size: 24px;
	}
}
#HMIMainContent_Button2 {	span {
		@include mixins.font-weight-bold(true);
	}
}
#HMIMainContent_ToggleSwitch1 {	@include mixins.elemTop(280);
}
#HMIMainContent_ToggleSwitch1 {	@include mixins.elemLeft(380);
}
#HMIMainContent_ToggleSwitch1 {	@include mixins.elemAutoWidth(180);
}
#HMIMainContent_ToggleSwitch1 {	@include mixins.elemAutoHeight(80);
}
#HMIMainContent_ToggleSwitch1 {	z-index: 2;
}
#HMIMainContent_TrybPracyLabel {	@include mixins.elemAutoHeight(30);
}
#HMIMainContent_TrybPracyLabel {	@include mixins.elemTop(240);
}
#HMIMainContent_TrybPracyLabel {	@include mixins.elemLeft(420);
}
#HMIMainContent_TrybPracyLabel {	@include mixins.elemAutoWidth(140);
}
#HMIMainContent_TrybPracyLabel {	z-index: 3;
}
#HMIMainContent_TrybPracyLabel {	font-size: 24px;
}
#HMIMainContent_TrybPracyLabel {	@include mixins.font-weight-bold(true);
}
#HMIMainContent_Zb1ZaworButton {	@include mixins.elemTop(480);
}
#HMIMainContent_Zb1ZaworButton {	@include mixins.elemLeft(200);
}
#HMIMainContent_Zb1ZaworButton {	@include mixins.elemAutoWidth(180);
}
#HMIMainContent_Zb1ZaworButton {	@include mixins.elemAutoHeight(70);
}
#HMIMainContent_Zb1ZaworButton {	z-index: 4;
}
#HMIMainContent_Zb1ZaworButton {	&:not(.disabled):not(.active):not(.checked) {
		background-color: rgba(192, 192, 255, 1);
	}
}
#HMIMainContent_Zb2ZaworButton {	@include mixins.elemTop(480);
}
#HMIMainContent_Zb2ZaworButton {	@include mixins.elemLeft(560);
}
#HMIMainContent_Zb2ZaworButton {	@include mixins.elemAutoWidth(180);
}
#HMIMainContent_Zb2ZaworButton {	@include mixins.elemAutoHeight(70);
}
#HMIMainContent_Zb2ZaworButton {	z-index: 5;
}
#HMIMainContent_Zb2ZaworButton {	&:not(.disabled):not(.active):not(.checked) {
		background-color: rgba(192, 192, 255, 1);
	}
}
#HMIMainContent_Button4 {	@include mixins.elemTop(860);
}
#HMIMainContent_Button4 {	@include mixins.elemLeft(340);
}
#HMIMainContent_Button4 {	@include mixins.elemAutoWidth(280);
}
#HMIMainContent_Button4 {	@include mixins.elemAutoHeight(110);
}
#HMIMainContent_Button4 {	z-index: 6;
}
#HMIMainContent_Button4 {	&:not(.disabled):not(.active):not(.checked) {
		background-color: rgba(30, 144, 255, 1);
	}
}
#HMIMainContent_Button4 {	span {
		font-size: 20px;
	}
}
#HMIMainContent_BasicSlider1 {	@include mixins.elemWidth(250);
}
#HMIMainContent_BasicSlider1 {	@include mixins.elemHeight(100);
}
#HMIMainContent_BasicSlider1 {	@include mixins.elemTop(620);
}
#HMIMainContent_BasicSlider1 {	@include mixins.elemLeft(160);
}
#HMIMainContent_BasicSlider1 {	z-index: 7;
}
#HMIMainContent_BasicSlider2 {	@include mixins.elemWidth(250);
}
#HMIMainContent_BasicSlider2 {	@include mixins.elemHeight(100);
}
#HMIMainContent_BasicSlider2 {	@include mixins.elemTop(620);
}
#HMIMainContent_BasicSlider2 {	@include mixins.elemLeft(520);
}
#HMIMainContent_BasicSlider2 {	z-index: 8;
}
#HMIMainContent_Label1 {	@include mixins.elemTop(560);
}
#HMIMainContent_Label1 {	@include mixins.elemLeft(160);
}
#HMIMainContent_Label1 {	@include mixins.elemAutoWidth(280);
}
#HMIMainContent_Label1 {	@include mixins.elemAutoHeight(60);
}
#HMIMainContent_Label1 {	z-index: 9;
}
#HMIMainContent_Label1 {	font-size: 24px;
}
#HMIMainContent_Label2 {	@include mixins.elemTop(560);
}
#HMIMainContent_Label2 {	@include mixins.elemLeft(520);
}
#HMIMainContent_Label2 {	@include mixins.elemAutoWidth(300);
}
#HMIMainContent_Label2 {	@include mixins.elemAutoHeight(60);
}
#HMIMainContent_Label2 {	z-index: 10;
}
#HMIMainContent_Label2 {	font-size: 24px;
}
#HMIMainContent_MieszanieButton {	@include mixins.elemTop(740);
}
#HMIMainContent_MieszanieButton {	@include mixins.elemLeft(380);
}
#HMIMainContent_MieszanieButton {	@include mixins.elemAutoWidth(180);
}
#HMIMainContent_MieszanieButton {	@include mixins.elemAutoHeight(80);
}
#HMIMainContent_MieszanieButton {	z-index: 11;
}
#HMIMainContent_TextOutputStanow {	@include mixins.elemAutoHeight(30);
}
#HMIMainContent_TextOutputStanow {	@include mixins.elemTop(40);
}
#HMIMainContent_TextOutputStanow {	@include mixins.elemLeft(380);
}
#HMIMainContent_TextOutputStanow {	@include mixins.elemAutoWidth(260);
}
#HMIMainContent_TextOutputStanow {	z-index: 12;
}
#HMIMainContent_LabelStanow {	@include mixins.elemAutoWidth(80);
}
#HMIMainContent_LabelStanow {	@include mixins.elemAutoHeight(30);
}
#HMIMainContent_LabelStanow {	@include mixins.elemTop(40);
}
#HMIMainContent_LabelStanow {	@include mixins.elemLeft(220);
}
#HMIMainContent_LabelStanow {	z-index: 13;
}
#HMIMainContent_AlarmList1 {	@include mixins.elemWidth(600);
}
#HMIMainContent_AlarmList1 {	@include mixins.elemTop(20);
}
#HMIMainContent_AlarmList1 {	@include mixins.elemLeft(780);
}
#HMIMainContent_AlarmList1 {	@include mixins.elemHeight(340);
}
#HMIMainContent_AlarmList1 {	z-index: 14;
}
#HMIMainContent_AlarmListItem1 {	@include mixins.elemWidth(160);
}
#HMIMainContent_AlarmListItem1 {	z-index: 0;
}
#HMIMainContent_AlarmListItem2 {	@include mixins.elemWidth(360);
}
#HMIMainContent_AlarmListItem2 {	z-index: 1;
}
#HMIMainContent_AlarmListItem3 {	@include mixins.elemWidth(100);
}
#HMIMainContent_AlarmListItem3 {	z-index: 2;
}
