@use "mixins.scss";
@use "sass:list";
@use "sass:string";
#TopContent_LoginImage {	@include mixins.elemAutoWidth(150);
}
#TopContent_LoginImage {	@include mixins.elemAutoHeight(100);
}
#TopContent_LoginImage {	@include mixins.elemTop(20);
}
#TopContent_LoginImage {	@include mixins.elemLeft(280);
}
#TopContent_LoginImage {	z-index: 0;
}
#TopContent_LoginInfo1 {	@include mixins.elemAutoWidth(120);
}
#TopContent_LoginInfo1 {	@include mixins.elemAutoHeight(30);
}
#TopContent_LoginInfo1 {	@include mixins.elemTop(60);
}
#TopContent_LoginInfo1 {	@include mixins.elemLeft(460);
}
#TopContent_LoginInfo1 {	z-index: 1;
}
#TopContent_LogoutButton {	@include mixins.elemAutoWidth(100);
}
#TopContent_LogoutButton {	@include mixins.elemAutoHeight(30);
}
#TopContent_LogoutButton {	@include mixins.elemTop(60);
}
#TopContent_LogoutButton {	@include mixins.elemLeft(640);
}
#TopContent_LogoutButton {	z-index: 2;
}
