@use "mixins.scss";

@mixin prop_barBackColor {
	background-color: rgba(250,250,250,1);
}
@mixin prop_barColor {
.startupProgressBar {
	background-color: rgba(110,110,110,1);
}
}
@mixin prop_barCornerRadius {
.startupProgressBar {
	border-radius: 2px;
}
}
@mixin prop_barBorderWidth {
.startupProgressBar {
	border-width: 0px;
}
}
@mixin prop_barBorderColor {
.startupProgressBar {
	border-color: rgba(0,0,0,1);
}
}
@mixin prop_barBorderStyle {
.startupProgressBar {
	border-style: none;
}
}
@mixin prop_labelPosition {
.preLoadingInfoWrapper .preLoadingInfo {
	@include mixins.text-alignment(center);
}
}
@mixin prop_labelTextColor {
.preLoadingInfoWrapper .preLoadingInfo {
	color: rgba(0,0,0,1);
}
}
@mixin prop_fontSize {
.preLoadingInfoWrapper .preLoadingInfo {
	font-size: 14px;
}
}
@mixin base {
  @include prop_barBackColor;
  @include prop_barColor;
  @include prop_barCornerRadius;
  @include prop_barBorderWidth;
  @include prop_barBorderColor;
  @include prop_barBorderStyle;
  @include prop_labelPosition;
  @include prop_labelTextColor;
  @include prop_fontSize;
}

