@use "mixins.scss";

@mixin prop_outlineStyle {
.elementFocus {
	outline-style: solid;
}
}
@mixin prop_outlineColor {
.elementFocus {
	outline-color: #5E9ED6;
}
}
@mixin prop_outlineWidth {
.elementFocus {
	outline-width: 2px;
}
}
@mixin prop_outlineOffset {
.elementFocus {
	outline-offset: -2px;
}
}
@mixin base {
  @include prop_outlineStyle;
  @include prop_outlineColor;
  @include prop_outlineWidth;
  @include prop_outlineOffset;
}

