@use "mixins.scss";

@mixin prop_backGround {
.breaseTooltip {
	@include mixins.pureBackgroundImage('../');
}
}
@mixin prop_backColor {
.breaseTooltip {
	background-color: #333333;
}
.tooltip-arrow .tooltip-arrow-background {
	border-top-color: #333333;
}
}
@mixin prop_backGroundGradient {
.breaseTooltip {
	@include mixins.backGroundGradient('');
}
}
@mixin prop_borderWidth {
.breaseTooltip {
	border-width: 1px;
}
}
@mixin prop_borderColor {
.breaseTooltip {
	border-color: #ebebeb;
}
.tooltip-arrow .tooltip-arrow-border {
	border-top-color: #ebebeb;
}
}
@mixin prop_borderStyle {
.breaseTooltip {
	border-style: solid;
}
}
@mixin prop_cornerRadius {
.breaseTooltip {
	@include mixins.border-radius(6px);
}
}
@mixin prop_textColor {
.breaseTooltip .breaseTooltipText {
	color: #ffffff;
}
}
@mixin prop_bold {
.breaseTooltip .breaseTooltipText {
	@include mixins.font-weight-bold(false);
}
}
@mixin prop_italic {
.breaseTooltip .breaseTooltipText {
	@include mixins.font-style-italic(false);
}
}
@mixin prop_padding {
.breaseTooltip {
	padding: 10px;
}
}
@mixin prop_opacity {
.breaseTooltip {
	opacity: 1;
}
}
@mixin prop_shadow {
.breaseTooltip {
	@include mixins.box-shadow(none);
}
}
@mixin prop_fontName {
.breaseTooltip .breaseTooltipText {
	font-family: Arial;
}
}
@mixin prop_fontSize {
.breaseTooltip .breaseTooltipText {
	font-size: 12px;
}
}
@mixin prop_showArrow {
.tooltip-arrow {
	@include mixins.display(true);
}
}
@mixin prop_indicatorImage {
.breaseTooltipIndicatorInner {
	@include mixins.importantPureBackgroundImage('../');
}
}
@mixin prop_indicatorHeight {
.breaseTooltipIndicatorInner {
	height: 20px;
}
}
@mixin prop_indicatorWidth {
.breaseTooltipIndicatorInner {
	width: 20px;
}
}
@mixin base {
  @include prop_backGround;
  @include prop_backColor;
  @include prop_backGroundGradient;
  @include prop_borderWidth;
  @include prop_borderColor;
  @include prop_borderStyle;
  @include prop_cornerRadius;
  @include prop_textColor;
  @include prop_bold;
  @include prop_italic;
  @include prop_padding;
  @include prop_opacity;
  @include prop_shadow;
  @include prop_fontName;
  @include prop_fontSize;
  @include prop_showArrow;
  @include prop_indicatorImage;
  @include prop_indicatorHeight;
  @include prop_indicatorWidth;
}

