@use "mixins.scss";

@mixin prop_closeImage {
.breaseDialogWindowHeader .breaseWindowClose {
	@include mixins.backGroundImage('../');background-position: center center;background-repeat:no-repeat;
}
.breaseDialogWindowHeader .breaseWindowClose:after {
	@include mixins.useCharacterifNoImage('');
}
}
@mixin prop_showCloseButton {
.breaseWindowClose {
	@include mixins.display(true);
}
}
@mixin prop_cornerRadius {
	@include mixins.border-radius(0px);
header {
	@include mixins.border-radius(0px);
}
.generic-dialog-content-footer-container {
	@include mixins.border-radius(0px);
}
}
@mixin prop_backColor {
.generic-dialog-content-footer-container {
	background-color: #FFFFFF;
}
	background-color: #FFFFFF;
}
@mixin prop_backGroundGradient {
.generic-dialog-content-footer-container {
	@include mixins.backGroundGradient('');
}
	@include mixins.backGroundGradient('');
}
@mixin prop_borderColor {
	border-color: #333333;
.arrowLeft .breaseWindowArrow {
	border-right-color: #333333;
}
.arrowRight .breaseWindowArrow {
	border-left-color: #333333;
}
}
@mixin prop_borderWidth {
header {
	@include mixins.reverseMargin(9px);
}
	border-bottom-width: 9px;
	border-left-width: 9px;
	border-right-width: 9px;
	@include mixins.static-top-border(9px);
}
@mixin prop_borderStyle {
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-style: solid;
}
@mixin prop_opacity {
	opacity: 1;
}
@mixin prop_shadow {
	@include mixins.box-shadow(none);
}
@mixin prop_headerTextColor {
header div {
	color: #FFF;
}
}
@mixin prop_headerFontName {
header div {
	font-family: Arial;
}
}
@mixin prop_headerFontSize {
header div {
	font-size: 16px;
}
}
@mixin prop_headerBold {
header div {
	@include mixins.font-weight-bold(false);
}
}
@mixin prop_headerItalic {
header div {
	@include mixins.font-style-italic(false);
}
}
@mixin prop_headerGradient {
header {
	@include mixins.backGroundGradient('');
}
}
@mixin prop_headerBackColor {
header {
	background-color: #333;
}
}
@mixin prop_headerBorderColor {
header {
	border-color: #333;
}
}
@mixin prop_headerBorderWidth {
header {
	border-width: 0px;
}
}
@mixin prop_headerBorderStyle {
header {
	border-style: none;
}
}
@mixin prop_headerHeight {
header {
	height: 42px;
}
header .breaseWindowClose {
	height: 42px;
}
header .breaseWindowClose {
	line-height: 42px;
}
}
@mixin prop_policySuccessTextColor {
&.breaseUserListGenericDialog .widgets_brease_Label_style_default.policy.success span {
	color: #008000;
}
}
@mixin prop_policyFailTextColor {
&.breaseUserListGenericDialog .widgets_brease_Label_style_default.policy.fail span {
	color: #FF0000;
}
}
@mixin prop_policyFontName {
&.breaseUserListGenericDialog .widgets_brease_Label_style_default.policy span {
	font-family: Arial;
}
}
@mixin prop_policyFontSize {
&.breaseUserListGenericDialog .widgets_brease_Label_style_default.policy span {
	font-size: 14px;
}
}
@mixin prop_policyBold {
&.breaseUserListGenericDialog .widgets_brease_Label_style_default.policy span {
	@include mixins.font-weight-bold(false);
}
}
@mixin prop_policyItalic {
&.breaseUserListGenericDialog .widgets_brease_Label_style_default.policy span {
	@include mixins.font-style-italic(false);
}
}
@mixin prop_policySuccessImageColor {
&.breaseUserListGenericDialog .widgets_brease_Image_style_default.policy.success svg {
	fill: #008000;
}
}
@mixin prop_policySuccessImageSize {
&.breaseUserListGenericDialog .widgets_brease_Image_style_default.policy.success {
	width: 16px;
}
&.breaseUserListGenericDialog .widgets_brease_Image_style_default.policy.success {
	height: 16px;
}
}
@mixin prop_policyFailImageColor {
&.breaseUserListGenericDialog .widgets_brease_Image_style_default.policy.fail svg {
	fill: #FF0000;
}
}
@mixin prop_policyFailImageSize {
&.breaseUserListGenericDialog .widgets_brease_Image_style_default.policy.fail {
	width: 16px;
}
&.breaseUserListGenericDialog .widgets_brease_Image_style_default.policy.fail {
	height: 16px;
}
}
@mixin base {
  @include prop_closeImage;
  @include prop_showCloseButton;
  @include prop_cornerRadius;
  @include prop_backColor;
  @include prop_backGroundGradient;
  @include prop_borderColor;
  @include prop_borderWidth;
  @include prop_borderStyle;
  @include prop_opacity;
  @include prop_shadow;
  @include prop_headerTextColor;
  @include prop_headerFontName;
  @include prop_headerFontSize;
  @include prop_headerBold;
  @include prop_headerItalic;
  @include prop_headerGradient;
  @include prop_headerBackColor;
  @include prop_headerBorderColor;
  @include prop_headerBorderWidth;
  @include prop_headerBorderStyle;
  @include prop_headerHeight;
  @include prop_policySuccessTextColor;
  @include prop_policyFailTextColor;
  @include prop_policyFontName;
  @include prop_policyFontSize;
  @include prop_policyBold;
  @include prop_policyItalic;
  @include prop_policySuccessImageColor;
  @include prop_policySuccessImageSize;
  @include prop_policyFailImageColor;
  @include prop_policyFailImageSize;
}

