@use "mixins.scss";

@mixin prop_image {
.breaseDialogWindowHeader .imageDiv {
	@include mixins.pureBackgroundImage('../');
}
}
@mixin prop_textAlign {
.breaseDialogWindowHeader div.innerHeader {
	@include mixins.text-alignment(center);
}
}
@mixin prop_headerHeight {
.breaseDialogWindowHeader {
	height: 42px;
}
.breaseDialogWindowHeader .breaseWindowClose {
	height: 42px;
}
.breaseDialogWindowHeader .breaseWindowClose {
	line-height: 42px;
}
.breaseDialogWindowHeader .imageDiv {
	min-width: 42px;
}
.breaseDialogWindowHeader div.innerHeader {
	line-height: 42px;
}
.breaseDialogWindowHeader div.textDiv {
	line-height: 42px;
}
.breaseDialogWindowHeader div.innerHeader {
	height: 42px;
}
.breaseDialogWindowHeader div.imageDiv {
	@include mixins.factor('max-width',42px, 2);
}
}
@mixin prop_backGround {
.breaseDialogWindowContentBox > .breaseLayout {
	@include mixins.noRepeatBackgroundImage('../');
}
}
@mixin prop_sizeMode {
.breaseDialogWindowContentBox > .breaseLayout {
	@include mixins.backgroundSize(fill);
}
}
@mixin prop_backColor {
.breaseDialogWindowContentBox > .breaseLayout {
	background-color: #ebebeb;
}
}
@mixin prop_backGroundGradient {
.breaseDialogWindowContentBox > .breaseLayout {
	@include mixins.backGroundGradient('');
}
}
@mixin prop_borderWidth {
.breaseDialogWindowContentBox {
	border-width: 2px;
}
}
@mixin prop_cornerRadius {
	@include mixins.border-radius(0px);
.breaseDialogWindowContentBox {
	@include mixins.border-bottom-right-radius(0px);
}
.breaseDialogWindowContentBox {
	@include mixins.border-bottom-left-radius(0px);
}
.breaseDialogWindowHeader {
	@include mixins.border-radius(0px);
}
}
@mixin prop_borderColor {
.breaseDialogWindowContentBox {
	border-color: #5B7C70;
}
}
@mixin prop_borderStyle {
.breaseDialogWindowContentBox {
	border-style: solid;
}
}
@mixin prop_headerGradient {
.breaseDialogWindowHeader {
	@include mixins.backGroundGradient('none');
}
}
@mixin prop_headerBackColor {
.breaseDialogWindowHeader {
	background-color: #DBDBDB;
}
}
@mixin prop_headerBorderColor {
.breaseDialogWindowHeader {
	border-color: #5B7C70;
}
}
@mixin prop_headerBorderWidth {
.breaseDialogWindowHeader {
	border-width: 2px 2px 0 2px;
}
}
@mixin prop_headerBorderStyle {
.breaseDialogWindowHeader {
	border-style: solid;
}
}
@mixin prop_textColor {
.breaseDialogWindowHeader .textDiv {
	color: #000000;
}
}
@mixin prop_bold {
.breaseDialogWindowHeader .textDiv {
	@include mixins.font-weight-bold(false);
}
}
@mixin prop_italic {
.breaseDialogWindowHeader .textDiv {
	@include mixins.font-style-italic(false);
}
}
@mixin prop_fontName {
.breaseDialogWindowHeader .textDiv {
	font-family: Arial;
}
}
@mixin prop_fontSize {
.breaseDialogWindowHeader .textDiv {
	font-size: 12px;
}
}
@mixin prop_opacity {
	opacity: 1;
}
@mixin prop_shadow {
	@include mixins.box-shadow(none);
}
@mixin prop_closeImage {
.breaseDialogWindowHeader .breaseWindowClose {
	@include mixins.backGroundImage('../');background-position: center center;background-repeat:no-repeat;
}
.breaseDialogWindowHeader .breaseWindowClose:after {
	@include mixins.useCharacterifNoImage('');
}
}
@mixin prop_showCloseButton {
.breaseWindowClose {
	@include mixins.display(true);
}
}
@mixin base {
  @include prop_image;
  @include prop_textAlign;
  @include prop_headerHeight;
  @include prop_backGround;
  @include prop_sizeMode;
  @include prop_backColor;
  @include prop_backGroundGradient;
  @include prop_borderWidth;
  @include prop_cornerRadius;
  @include prop_borderColor;
  @include prop_borderStyle;
  @include prop_headerGradient;
  @include prop_headerBackColor;
  @include prop_headerBorderColor;
  @include prop_headerBorderWidth;
  @include prop_headerBorderStyle;
  @include prop_textColor;
  @include prop_bold;
  @include prop_italic;
  @include prop_fontName;
  @include prop_fontSize;
  @include prop_opacity;
  @include prop_shadow;
  @include prop_closeImage;
  @include prop_showCloseButton;
}

