@use "mixins.scss";

@mixin prop_backColor {
.iScrollIndicator {
	background-color: rgba(0,0,0,0.5);
}
.dataTables_scrollBody::-webkit-scrollbar-thumb {
	background: rgba(0,0,0,0.5);
}
}
@mixin prop_width {
.iScrollVerticalScrollbar {
	width: 7px;
}
.iScrollHorizontalScrollbar {
	height: 7px;
}
.iScrollHorizontalScrollbar.iScrollBothScrollbars {
	@include mixins.position(right,7px+2);
}
.iScrollVerticalScrollbar.iScrollBothScrollbars {
	@include mixins.position(bottom,7px+2);
}
.dataTables_scrollBody::-webkit-scrollbar {
	width: 7px;
}
.dataTables_scrollBody::-webkit-scrollbar {
	height: 7px;
}
}
@mixin prop_borderWidth {
.iScrollIndicator {
	border-width: 1px;
}
.dataTables_scrollBody::-webkit-scrollbar-thumb {
	border-width: 1px;
}
}
@mixin prop_borderColor {
.iScrollIndicator {
	border-color: rgba(255,255,255,0.9);
}
.dataTables_scrollBody::-webkit-scrollbar-thumb {
	border-color: rgba(255,255,255,0.9);
}
}
@mixin prop_borderStyle {
.iScrollIndicator {
	border-style: solid;
}
.dataTables_scrollBody::-webkit-scrollbar-thumb {
	border-style: solid;
}
}
@mixin prop_borderRadius {
.iScrollIndicator {
	border-radius: 3px;
}
.dataTables_scrollBody::-webkit-scrollbar-thumb {
	border-radius: 3px;
}
}
@mixin base {
  @include prop_backColor;
  @include prop_width;
  @include prop_borderWidth;
  @include prop_borderColor;
  @include prop_borderStyle;
  @include prop_borderRadius;
}

