@use "mixins.scss";

@mixin prop_shadow {
	@include mixins.box-shadow(none);
}
@mixin prop_closeImage {
&.breaseWindow .breaseDialogWindowHeader .breaseWindowClose {
	@include mixins.backGroundImage('../');background-position: center center;background-repeat:no-repeat;
}
&.breaseWindow .breaseDialogWindowHeader .breaseWindowClose:after {
	@include mixins.useCharacterifNoImage('');
}
}
@mixin prop_showCloseButton {
&.breaseWindow .breaseWindowClose {
	@include mixins.display(true);
}
}
@mixin prop_borderWidth {
&.breaseWindow .contentBox {
	border-width: 9px;
}
}
@mixin prop_borderColor {
&.breaseWindow .contentBox {
	border-color: #333;
}
}
@mixin prop_borderStyle {
&.breaseWindow .contentBox {
	border-style: solid;
}
}
@mixin prop_cornerRadius {
	@include mixins.border-radius(0px);
}
@mixin prop_backColor {
&.breaseWindow .contentBox {
	background-color: #FFF;
}
}
@mixin prop_backGroundGradient {
&.breaseWindow .contentBox {
	@include mixins.backGroundGradient('');
}
}
@mixin prop_backGround {
&.breaseWindow .contentBox {
	@include mixins.noRepeatBackgroundImage('../');
}
}
@mixin prop_sizeMode {
&.breaseWindow .contentBox {
	@include mixins.backgroundSize(fill);
}
}
@mixin prop_opacity {
	opacity: 1;
}
@mixin prop_headerTextColor {
&.breaseWindow header div {
	color: #FFF;
}
}
@mixin prop_headerFontName {
&.breaseWindow header div {
	font-family: Arial;
}
}
@mixin prop_headerFontSize {
&.breaseWindow header div {
	font-size: 16px;
}
}
@mixin prop_headerBold {
&.breaseWindow header div {
	@include mixins.font-weight-bold(false);
}
}
@mixin prop_headerItalic {
&.breaseWindow header div {
	@include mixins.font-style-italic(false);
}
}
@mixin prop_headerGradient {
&.breaseWindow .breaseDialogWindowHeader {
	@include mixins.backGroundGradient('');
}
}
@mixin prop_headerBackColor {
&.breaseWindow .breaseDialogWindowHeader {
	background-color: #333;
}
}
@mixin prop_headerBorderColor {
&.breaseWindow .breaseDialogWindowHeader {
	border-color: #333;
}
}
@mixin prop_headerBorderWidth {
&.breaseWindow .breaseDialogWindowHeader {
	border-width: 0px;
}
}
@mixin prop_headerBorderStyle {
&.breaseWindow .breaseDialogWindowHeader {
	border-style: none;
}
}
@mixin prop_headerHeight {
&.breaseWindow .breaseDialogWindowHeader {
	height: 42px;
}
&.breaseWindow .breaseDialogWindowHeader .breaseWindowClose {
	height: 42px;
}
&.breaseWindow .breaseDialogWindowHeader .breaseWindowClose {
	line-height: 42px;
}
&.breaseWindow .breaseDialogWindowHeader .imageDiv {
	min-width: 42px;
}
&.breaseWindow .breaseDialogWindowHeader div.innerHeader {
	line-height: 42px;
}
&.breaseWindow .breaseDialogWindowHeader div.textDiv {
	line-height: 42px;
}
&.breaseWindow .breaseDialogWindowHeader div.innerHeader {
	height: 42px;
}
&.breaseWindow .breaseDialogWindowHeader div.imageDiv {
	@include mixins.factor('max-width',42px, 2);
}
}
@mixin prop_labelTextColor {
&.breaseWindow .widgets_brease_Label_style_default:not(.disabled):not(.active) span {
	color: #999;
}
}
@mixin prop_labelFontName {
&.breaseWindow .widgets_brease_Label_style_default:not(.disabled):not(.active) span {
	font-family: Arial;
}
}
@mixin prop_labelFontSize {
&.breaseWindow .widgets_brease_Label_style_default:not(.disabled):not(.active) span {
	font-size: 14px;
}
}
@mixin prop_labelBold {
&.breaseWindow .widgets_brease_Label_style_default:not(.disabled):not(.active) span {
	@include mixins.font-weight-bold(false);
}
}
@mixin prop_labelItalic {
&.breaseWindow .widgets_brease_Label_style_default:not(.disabled):not(.active) span {
	@include mixins.font-style-italic(false);
}
}
@mixin prop_inputTextColor {
&.breaseWindow .widgets_brease_TextInput_style_default:not(.disabled):not(.active) input {
	color: #333;
}
&.breaseWindow .widgets_brease_Password_style_default:not(.disabled):not(.active) input {
	color: #333;
}
}
@mixin prop_inputFontName {
&.breaseWindow .widgets_brease_TextInput_style_default:not(.disabled):not(.active) input {
	font-family: Arial;
}
&.breaseWindow .widgets_brease_Password_style_default:not(.disabled):not(.active) input {
	font-family: Arial;
}
}
@mixin prop_inputFontSize {
&.breaseWindow .widgets_brease_TextInput_style_default:not(.disabled):not(.active) input {
	font-size: 16px;
}
&.breaseWindow .widgets_brease_Password_style_default:not(.disabled):not(.active) input {
	font-size: 16px;
}
}
@mixin prop_inputBold {
&.breaseWindow .widgets_brease_TextInput_style_default:not(.disabled):not(.active) input {
	@include mixins.font-weight-bold(false);
}
&.breaseWindow .widgets_brease_Password_style_default:not(.disabled):not(.active) input {
	@include mixins.font-weight-bold(false);
}
}
@mixin prop_inputItalic {
&.breaseWindow .widgets_brease_TextInput_style_default:not(.disabled):not(.active) input {
	@include mixins.font-style-italic(false);
}
&.breaseWindow .widgets_brease_Password_style_default:not(.disabled):not(.active) input {
	@include mixins.font-style-italic(false);
}
}
@mixin prop_inputTextAlign {
&.breaseWindow .widgets_brease_TextInput_style_default:not(.disabled):not(.active) input {
	@include mixins.text-alignment(left);
}
&.breaseWindow .widgets_brease_Password_style_default:not(.disabled):not(.active) input {
	@include mixins.text-alignment(left);
}
}
@mixin prop_buttonTextColor {
&.breaseWindow .widgets_brease_Button_style_default:not(.disabled):not(.active) span {
	color: #333;
}
}
@mixin prop_buttonFontName {
&.breaseWindow .widgets_brease_Button_style_default:not(.disabled):not(.active) span {
	font-family: Arial;
}
&.breaseWindow .widgets_brease_Button_style_default.active:not(.disabled) span {
	font-family: Arial;
}
}
@mixin prop_buttonFontSize {
&.breaseWindow .widgets_brease_Button_style_default:not(.disabled):not(.active) span {
	font-size: 16px;
}
&.breaseWindow .widgets_brease_Button_style_default.active:not(.disabled) span {
	font-size: 16px;
}
}
@mixin prop_buttonBold {
&.breaseWindow .widgets_brease_Button_style_default:not(.disabled):not(.active) span {
	@include mixins.font-weight-bold(false);
}
&.breaseWindow .widgets_brease_Button_style_default.active:not(.disabled) span {
	@include mixins.font-weight-bold(false);
}
}
@mixin prop_buttonItalic {
&.breaseWindow .widgets_brease_Button_style_default:not(.disabled):not(.active) span {
	@include mixins.font-style-italic(false);
}
&.breaseWindow .widgets_brease_Button_style_default.active:not(.disabled) span {
	@include mixins.font-style-italic(false);
}
}
@mixin prop_buttonBorderColor {
&.breaseWindow .widgets_brease_Button_style_default:not(.disabled):not(.active) {
	border-color: #555;
}
}
@mixin prop_buttonMouseDownBorderColor {
&.breaseWindow .widgets_brease_Button_style_default.active:not(.disabled) {
	border-color: #333;
}
}
@mixin prop_buttonBorderWidth {
&.breaseWindow .widgets_brease_Button_style_default {
	border-width: 1px 1px 1px 1px;
}
}
@mixin prop_buttonBorderStyle {
&.breaseWindow .widgets_brease_Button_style_default {
	border-style: solid;
}
&.breaseWindow .widgets_brease_Button_style_default.active {
	border-style: solid;
}
}
@mixin prop_buttonMouseDownTextColor {
&.breaseWindow .widgets_brease_Button_style_default.active:not(.disabled) span {
	color: #000;
}
}
@mixin prop_buttonCornerRadius {
&.breaseWindow .widgets_brease_Button_style_default {
	@include mixins.border-radius(0px);
}
}
@mixin prop_buttonBackColor {
&.breaseWindow .widgets_brease_Button_style_default:not(.disabled):not(.active):not(.checked) {
	background-color: #FFF;
}
}
@mixin prop_buttonMouseDownBackColor {
&.breaseWindow .widgets_brease_Button_style_default.active:not(.disabled):not(.checked) {
	background-color: #FFA800;
}
}
@mixin prop_buttonBackGroundGradient {
&.breaseWindow .widgets_brease_Button_style_default:not(.disabled):not(.active):not(.checked) {
	@include mixins.backGroundGradient('');
}
}
@mixin prop_buttonMouseDownBackGroundGradient {
&.breaseWindow .widgets_brease_Button_style_default.active:not(.disabled):not(.checked) {
	@include mixins.backGroundGradient('');
}
}
@mixin prop_buttonBackGround {
&.breaseWindow .widgets_brease_Button_style_default:not(.disabled):not(.active):not(.checked) {
	@include mixins.pureBackgroundImage('../');
}
}
@mixin prop_buttonMouseDownBackGround {
&.breaseWindow .widgets_brease_Button_style_default.active:not(.disabled):not(.checked) {
	@include mixins.pureBackgroundImage('../');
}
}
@mixin prop_policyTextColor {
&.breaseWindow .policyLine .textOutput {
	color: #333;
}
}
@mixin prop_policySuccessTextColor {
&.breaseWindow .policyLine.success .textOutput {
	color: #008000;
}
}
@mixin prop_policyFailTextColor {
&.breaseWindow .policyLine.fail .textOutput {
	color: #FF0000;
}
}
@mixin prop_policyFontName {
&.breaseWindow .policyLine .textOutput {
	font-family: Arial;
}
}
@mixin prop_policyFontSize {
&.breaseWindow .policyLine .textOutput {
	font-size: 14px;
}
}
@mixin prop_policyBold {
&.breaseWindow .policyLine .textOutput {
	@include mixins.font-weight-bold(false);
}
}
@mixin prop_policyItalic {
&.breaseWindow .policyLine .textOutput {
	@include mixins.font-style-italic(false);
}
}
@mixin prop_policySuccessImageColor {
&.breaseWindow .policyLine.success .iconSuccess g {
	fill: #008000;
}
}
@mixin prop_policySuccessImageSize {
&.breaseWindow .policyLine.success .iconSuccess {
	width: 16px;
}
&.breaseWindow .policyLine.success .iconSuccess {
	height: 16px;
}
}
@mixin prop_policyFailImageColor {
&.breaseWindow .policyLine.fail .iconFail g {
	fill: #FF0000;
}
}
@mixin prop_policyFailImageSize {
&.breaseWindow .policyLine.fail .iconFail {
	width: 16px;
}
&.breaseWindow .policyLine.fail .iconFail {
	height: 16px;
}
}
@mixin prop_policyHeaderTextColor {
&.breaseWindow .contentBox .policyBoxHeader {
	color: #FFF;
}
}
@mixin prop_policyHeaderFontName {
&.breaseWindow .contentBox .policyBoxHeader {
	font-family: Arial;
}
}
@mixin prop_policyHeaderFontSize {
&.breaseWindow .contentBox .policyBoxHeader {
	font-size: 14px;
}
}
@mixin prop_policyHeaderBold {
&.breaseWindow .contentBox .policyBoxHeader {
	@include mixins.font-weight-bold(false);
}
}
@mixin prop_policyHeaderItalic {
&.breaseWindow .contentBox .policyBoxHeader {
	@include mixins.font-style-italic(false);
}
}
@mixin prop_policyHeaderBackColor {
&.breaseWindow .contentBox .policyBoxHeader {
	background-color: #008080;
}
}
@mixin prop_policyHeaderBackGroundGradient {
&.breaseWindow .contentBox .policyBoxHeader {
	@include mixins.backGroundGradient('');
}
}
@mixin prop_policyHeaderBackGround {
&.breaseWindow .contentBox .policyBoxHeader {
	@include mixins.pureBackgroundImage('../');
}
}
@mixin prop_policyBorderColor {
&.breaseWindow .contentBox .policyBox {
	border-color: #008080;
}
}
@mixin prop_policyBorderWidth {
&.breaseWindow .contentBox .policyBox {
	border-width: 1px;
}
}
@mixin prop_policyBorderStyle {
&.breaseWindow .contentBox .policyBox {
	border-style: solid;
}
}
@mixin prop_policyBoxShadow {
&.breaseWindow .contentBox .policyBox {
	@include mixins.box-shadow(none);
}
}
@mixin prop_policyBoxBackColor {
&.breaseWindow .contentBox .policyBox {
	background-color: #FFF;
}
}
@mixin prop_policyBoxBackGroundGradient {
&.breaseWindow .contentBox .policyBox {
	@include mixins.backGroundGradient('');
}
}
@mixin prop_policyBoxBackGround {
&.breaseWindow .contentBox .policyBox {
	@include mixins.pureBackgroundImage('../');
}
}
@mixin prop_statusInfoTextColor {
&.breaseWindow .outputArea p.info {
	color: #000;
}
}
@mixin prop_statusSuccessTextColor {
&.breaseWindow .outputArea p.success {
	color: #00B400;
}
}
@mixin prop_statusErrorTextColor {
&.breaseWindow .outputArea p.error {
	color: #FF0000;
}
}
@mixin prop_statusFontName {
&.breaseWindow .outputArea p {
	font-family: Arial;
}
}
@mixin prop_statusFontSize {
&.breaseWindow .outputArea p {
	font-size: 12px;
}
}
@mixin prop_statusBold {
&.breaseWindow .outputArea p {
	@include mixins.font-weight-bold(false);
}
}
@mixin prop_statusItalic {
&.breaseWindow .outputArea p {
	@include mixins.font-style-italic(false);
}
}
@mixin base {
  @include prop_shadow;
  @include prop_closeImage;
  @include prop_showCloseButton;
  @include prop_borderWidth;
  @include prop_borderColor;
  @include prop_borderStyle;
  @include prop_cornerRadius;
  @include prop_backColor;
  @include prop_backGroundGradient;
  @include prop_backGround;
  @include prop_sizeMode;
  @include prop_opacity;
  @include prop_headerTextColor;
  @include prop_headerFontName;
  @include prop_headerFontSize;
  @include prop_headerBold;
  @include prop_headerItalic;
  @include prop_headerGradient;
  @include prop_headerBackColor;
  @include prop_headerBorderColor;
  @include prop_headerBorderWidth;
  @include prop_headerBorderStyle;
  @include prop_headerHeight;
  @include prop_labelTextColor;
  @include prop_labelFontName;
  @include prop_labelFontSize;
  @include prop_labelBold;
  @include prop_labelItalic;
  @include prop_inputTextColor;
  @include prop_inputFontName;
  @include prop_inputFontSize;
  @include prop_inputBold;
  @include prop_inputItalic;
  @include prop_inputTextAlign;
  @include prop_buttonTextColor;
  @include prop_buttonFontName;
  @include prop_buttonFontSize;
  @include prop_buttonBold;
  @include prop_buttonItalic;
  @include prop_buttonBorderColor;
  @include prop_buttonMouseDownBorderColor;
  @include prop_buttonBorderWidth;
  @include prop_buttonBorderStyle;
  @include prop_buttonMouseDownTextColor;
  @include prop_buttonCornerRadius;
  @include prop_buttonBackColor;
  @include prop_buttonMouseDownBackColor;
  @include prop_buttonBackGroundGradient;
  @include prop_buttonMouseDownBackGroundGradient;
  @include prop_buttonBackGround;
  @include prop_buttonMouseDownBackGround;
  @include prop_policyTextColor;
  @include prop_policySuccessTextColor;
  @include prop_policyFailTextColor;
  @include prop_policyFontName;
  @include prop_policyFontSize;
  @include prop_policyBold;
  @include prop_policyItalic;
  @include prop_policySuccessImageColor;
  @include prop_policySuccessImageSize;
  @include prop_policyFailImageColor;
  @include prop_policyFailImageSize;
  @include prop_policyHeaderTextColor;
  @include prop_policyHeaderFontName;
  @include prop_policyHeaderFontSize;
  @include prop_policyHeaderBold;
  @include prop_policyHeaderItalic;
  @include prop_policyHeaderBackColor;
  @include prop_policyHeaderBackGroundGradient;
  @include prop_policyHeaderBackGround;
  @include prop_policyBorderColor;
  @include prop_policyBorderWidth;
  @include prop_policyBorderStyle;
  @include prop_policyBoxShadow;
  @include prop_policyBoxBackColor;
  @include prop_policyBoxBackGroundGradient;
  @include prop_policyBoxBackGround;
  @include prop_statusInfoTextColor;
  @include prop_statusSuccessTextColor;
  @include prop_statusErrorTextColor;
  @include prop_statusFontName;
  @include prop_statusFontSize;
  @include prop_statusBold;
  @include prop_statusItalic;
}

